
<div class="video-container">
  <video autoplay loop muted>
    <source src="assets/test_demo/OFF-WHITE.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="overlay-desc">

    <h1 class="h1border">&nbsp;WELCOME.&nbsp;</h1>

  </div>
</div>

<main class="content">
  <h2><u>
      <font color="Yellow">WE LOVE SHOES!</font>
    </u></h2>
  <div class="p">
    <p>&nbsp;&nbsp;Over the years, there has been so many important sneakers. They might not be the best known, they
      might not
      be the biggest selling—hell, they might not even be the most loved—but they were damn influential on the sneaker
      culture that we are a part of today.</p>

  </div>
</main>

<div class="row" style="margin:0 !important">
  <div class="col-md-6 nopadding">
    <div class="video-container">
      <video autoplay loop muted>
        <source src="assets/test_demo/closeup of running mans feet in slow motion zJ2BCHGu.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    </div>
  </div>
  <div class="col-md-6 nopadding">
    <div class="h3">
      <h3 align=center style="padding-top: 40px;">
        <font color="Yellow">
          <font size="6.5">RUNNING SHOES WITH A LIGHTWEIGHT UPPER AND RESPONSIVE CUSHIONING.</font>
        </font>
      </h3>
      <div class="p1">
        <p style="padding-left:35px;padding-right:15px;padding-top: 10px;">
          &nbsp;&nbsp;These running shoes combine comfort and high-performance technology for a best-ever-run
          feeling.They have a
          stretchy knit upper that adapts to the changing shape of your foot as you run.Responsive midsole cushioning
          and
          a flexible outsole deliver a smooth and energised ride.</p>
        <div class="p2">
          <p align=right style="padding-top: 10px;">
            IT'S NEVER TOO LATE.
          </p>
          <p align=right>At you will choose the shoes that suit you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="video-container">
  <video autoplay loop muted>
    <source src="assets/test_demo/Ballet dancer's feet in slow motion.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="overlay-desc2">
    <h4><b><u>LARGE GRAPHICS DOMINATE DOMINATE THE ADIDAS ZX 500 RM.</u></b>
    </h4>

  </div>
</div>
<div class="row" style="margin:0 !important">
  <div class="col-md-6 nopadding" style="background-color: rgb(247, 246, 245)">
    <h5><b>THE SNEAKERS DOME.</b></h5>
    <p style="padding-left:35px;"> <a href="https://www.instagram.com/?hl=th"><img src="assets/instagram.png" type="img/png"></a>
      <a href="https://www.facebook.com/">
        <img src="assets/facebook.png" type="img/png" style="padding-left:10px;"></a>
      <a href="https://twitter.com/"><img src="assets/twitter.png" type="img/png" style="padding-left:10px;"></a>
      <a href="https://line.me/th/"><img src="assets/line.png" type="img/png" style="padding-left:10px;"></a>
      <a href="https://www.youtube.com/"><img src="assets/youtube.png" type="img/png" style="padding-left:10px;"></a>
    </p>
    <p style="padding-left:35px;"> For more sneaker news, here’s ” <a href="https://hypebeast.com/2018/11/bape-adidas-ultraboost-black-camo-closer-look">a
        closer look at the BAPE x adidas UltraBOOST “Black Camo.</a> </p>
  </div>
  <div class="col-md-6 nopadding" style="background-color: rgb(247, 246, 245)">
    <a href="http://play.google.com/store/apps/collection/topselling_free"><img src="assets/google-play.png" type="
        img/png"
        height="190px;">
    </a> <a href="https://www.apple.com/"><img src="assets/app-store.png" type="img/png" height="160px;"></a>
    <img src="assets/sneaker (2).png" type="img/png" style="padding-left:50px;">
    <img src="assets/sneakers.png" type="img/png" >


  </div>
</div>